


.simple-box{
  padding: 15px;
  .title{
    font-size: 1.6em;
    display:block;
    margin-top: 0;
    margin-bottom: 5px;
    overflow-wrap: break-word;
  }
  .btn{
    margin-top:5px;
    width:auto;
  }
}

.smooth-rounding{
  border-radius: 10px;
}
.rough-rounding{
  border-radius: 50px;
}
