@import "admin-lte/AdminLTE.less";
@import "custom/core.less";
@import "custom/header.less";
@import "custom/boxes.less";
@import "custom/templates/loader.less";
@import "secondary.less";

/** Definition **/
@main: #3c1f5e;
@icon: #333;
@seperation: #eee;

@dist = 50;

@btn-font-weight: 300;
@font-family-sans-serif: "Roboto", Helvetica, Arial, sans-serif;

body, label, .checkbox label {
	font-weight: 300;
	font-family: "Roboto", Helvetica, Arial, sans-serif;
}
footer{
	position:fixed;
	bottom:0;
	width:100%;
	left:0;
}
.main-footer
{
	margin-left:0 !important;
}
a{
	color: @main;
}
.icon{
	color: @icon;
	margin: 0 15px;

}
.icon.active{
	color: @main;
}
a.no-effect{
	color: @main;
	&:hover{
		text-decoration: none;
		color: @main;
	}
}
.top-buffer { margin-top:20px; }
.no-bottom-buffer{ margin-bottom:0;}
.bottom-buffer { margin-bottom:20px; }
.seperation-border{ border-bottom: solid 1px @seperation; }
.btn-main{
	background-color: @main;
	border-color: @main;
}
.box{
	border: 1px solid @seperation;
}
.btn-primary{
	&:focus{
		background: @main;
		border-color: transparent;
	}
}
.chat{
	height: ~"calc(100vh - 150px)";
	.item {
		@media (max-width: @screen-md-min) {
			.message{
				display:none;
			}
			.img{
				width: 30px;
				height: 30px;
			}
			border:none;
		}
		position:relative;
		img {

			border-color: transparent !important;
		}
		.status {
			height: 10px;
			width: 10px;
			position: absolute;
			top: 27px;
			left: 27px;
			border-radius: 50%;
		}
	}
	.online {
		.status {
			background: @green;
		}
	}
	.offline {
		.status {
			background: @red;
		}
	}
}

.plain{
	position:absolute;
	background: @main;
	width:100%;
	height:100vh;
}
.login-box{
	position:absolute;
	-ms-transform: translate(-50%, -50%); /* IE 9 */
	-webkit-transform: translate(-50%, 50%); /* Safari */
	transform: translate(-50%, -50%);
	top: 50%;
	left: 50%;
	margin: 0;
}
::-webkit-scrollbar {
	width: 5px;
	height: 5px;
}
::-webkit-scrollbar-track-piece {
	background: #eee;
	border-radius: 10px;
}
::-webkit-scrollbar-thumb {
	background: @main;
	border-radius: 10px;
	&:hover{
		cusor: pointer;
	}
}


