@import "bootstrap/bootstrap";

/** Definition **/
@main: #3c8dbc;
@icon: #333;
@seperation: #eee;

@btn-font-weight: 300;
@font-family-sans-serif: "Roboto", Helvetica, Arial, sans-serif;

body, label, .checkbox label {
	font-weight: 300;
}
footer{
	position:fixed;
	bottom:0;
	width:100%;
	left:0;
}
.main-footer{
	margin-left:0 !important;
}
a{
	color: @main;
}
.icon{
	color: @icon;
	margin: 0 15px;

}
.icon.active{
	color: @main;
}

.box{
	border: 1px solid @seperation;
}
.skin-blue .main-header .logo{
	&:hover{
		background-color: @main;
		text-decoration: none;
	}
	background-color: @main;
}


